/*
1. utils
2. vendors
3. base
4. layout
5. components
6. pages
7. themes
*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --text-color: #212121;
  --contact-color: #757575;
  --webstudio-color: #2196F3;
  --background-color: #2F303A;
  --social-media-color: #AFB1B8;
  --loremipsum-icon-color: #F5F4FA;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.list {
  list-style: none;
}

.address-color {
  color: #FFFFFF;
}

.address-style {
  font-style: normal;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--text-color);
}

.button {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196F3;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  box-shadow: #2F303A;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}

.button:hover,
.button:focus {
  opacity: 0.75;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}

.footer-social-media-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  padding-top: 12px;
  margin-bottom: 20px;
}

.footer-social-media-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-media-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-media-item:last-child {
  margin-right: 78px;
}

.footer-social-media-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: var(--webstudio-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
}

.main-logo {
  padding-right: 93px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.main-logo-pt1 {
  color: var(--webstudio-color);
  font-weight: 700;
  font-size: 26px;
}

.main-logo-pt2 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 26px;
}

.mw-button {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 32px;
  margin-left: 32px;
  padding-bottom: 30px;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--social-media-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-list-link:hover,
.social-list-link:focus {
  fill: #FFFFFF;
  background-color: var(--webstudio-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
}/*# sourceMappingURL=main.css.map */