/*
1. utils
2. vendors
3. base
4. layout
5. components
6. pages
7. themes
*/
@import "./utils/variables";
@import "./utils/visually-hidden";

@import "./base/common";
@import "./base/container";
@import "./base/section";

@import "./layout/contact";
@import "./layout/customers";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/hero";
@import "./layout/loremipsum";
@import "./layout/navigation";
@import "./layout/pic-box";
@import "./layout/services";
@import "./layout/team";

@import "./components/backdrop";
@import "./components/button-bar";
@import "./components/button";
@import "./components/footer-social-media";
@import "./components/logo";
@import "./components/modal-window";
@import "./components/newsletter";
@import "./components/social-list";