.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--contact-color);
}

.contact--top {
    display: flex;
    margin-left: auto;

    &:not(:last-child) {
        margin-right: 46px;
    }
}

.contact--bottom {
    display: flex;
    color: var(--contact-color);
}

.envelope-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
}

.phone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
}


.envelope-hover:hover svg,
.envelope-hover:focus svg {
    color: var(--webstudio-color);
    fill: var(--webstudio-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
}

.phone-hover:hover svg,
.phone-hover:focus svg {
    color: var(--webstudio-color);
    fill: var(--webstudio-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
}