.newsletter-label {
    position: relative;
}


.newsletter-form-email {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 9px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-color);
    color: rgba(255, 255, 255, 0.6);
}

.newsletter-form-email::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.newsletter-button {
    position: relative;
    width: 200px;
    height: 50px;
    padding-left: 42px;
    background-color: var(--webstudio-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    box-shadow: #2F303A;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
}

.newsletter-button:hover,
.newsletter-button:focus {
    opacity: 0.75;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
}

.icon-send {
    position: absolute;
    left: 148px;
    top: 13px;
    right: 28px;
    bottom: 13px;
    width: 24px;
    height: 24px;
}
