.pics {
    display: flex;
    flex-wrap: wrap;
}

.pics-item {
    margin-right: 30px;
    margin-bottom: 30px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: box-shadow;
    }
}

.pics-item:nth-child(3n + 3) {
    margin-right: 0px;
}

.pics-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.pics-img {
    width: 370px;
    height: 294px;
}


.pics-h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
    padding-left: 24px;
}


.pics-p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-top: 4px;
    margin-bottom: 20px;
    padding-left: 24px;
    color: var(--contact-color)
}

.box {
    position: relative;
    overflow: hidden;

    &:hover .overlay,
    &:focus .overlay {
        transform: translateY(0);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: transform;
    }
}

.box>img {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
    overflow: hidden;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: top, left, width, height, background-color, transform;
}

.pic-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-top: 49px;
    margin-right: 45px;
    margin-bottom: 49px;
    margin-left: 24px;
}

.second-color-box {
    border: 1px solid #ECECEC;
    border-top: none;
}

.box>.second-color-box {
    position: sticky;
    opacity: 1;
    bottom: 0px;
    left: 0px;
    background-color: #FFFFFF;
}