.button {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: #2196F3;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    box-shadow: #2F303A;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
}

.button:hover,
.button:focus {
    opacity: 0.75;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
}