.button-list {
    display: flex;
    margin-right: 8px;
}

.button-style {
    margin-right: 8px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, filter, background-color;

        &:hover {
            background-color: #2196F3;
            color: #FFFFFF;
            cursor: pointer;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, filter, background-color;
        }
}