.main-logo {
    padding-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
}

.main-logo-pt1 {
    color: var(--webstudio-color);
    font-weight: 700;
    font-size: 26px;
}

.main-logo-pt2 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 26px;
}

.main-logo-end {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.main-logo-pt3 {
    color: #FFFFFF;
}