.main-logo {
    padding-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;

    &--pt1 {
        color: var(--webstudio-color);
        font-weight: 700;
        font-size: 26px;
    }

    &--pt2 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 26px;
    }

    &--pt3 {
        color: #FFFFFF;
    }

    &--end {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
    }
}