.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.close-icon {
    width: 18px;
    height: 18px;
}

.modal-form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
}

.mw-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 40px;
    margin-bottom: 12px;
}

.mw-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--contact-color);
    margin-bottom: 4px;
}

.mw-item-box {
    padding-left: 42px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;

    &:focus-within {
        border-color: var(--webstudio-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border;
    }
}

textarea {
    resize: none;
    outline: none;
    
    &::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        }
}

input {
    outline: none;
}

.mw-item-feedback {
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;

    &:focus-within {
        border-color: var(--webstudio-color);
    }
}

.mw-icon {
    position: absolute;
    left: 52px;
    bottom: 11px;
    width: 18px;
    height: 18px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

.before-checkbox {

    &::before {
        display: inline-block;
        content: "";
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        margin-left: 14px;
        margin-right: 4px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border;
        cursor: pointer;
    }
}

.last-label-checkbox:checked+.before-checkbox::before {
    background-color: var(--webstudio-color);
    border: none;
    background-image: url(../images/custom-checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background;
}

.last-mw-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--contact-color);
    margin-right: 14px;
}

label {

    &:focus-within svg {
        fill: var(--webstudio-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;
    }
}

.mw-button {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
}