body {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 14px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}


p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;

    &:hover,
    &:focus {
        color: var(--webstudio-color);
        cursor: pointer;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }
}

.link::selection {
    color: var(--webstudio-color);
}

.link-menu {
    color: var(--text-color);
}

.link-active {
    color: var(--webstudio-color);
}


.list {
    list-style: none;
}

.address-color {
    color: #FFFFFF;
}

.address-style {
    font-style: normal;
}