.section {
    padding-top: 94px;
    padding-bottom: 94px;
    color: var(--text-color);

    &--without-padding {
        padding-top: 0;
        padding-bottom: 0;
        color: var(--text-color);
    }
}